
    <div>
        <div class="login">
            <header>
				<a><font face="WildWest" size="8">SKILL MAPPER </font></a>
				<font face="Verdana" size="5">Login Page </font>
            </header>
            <div class="loginbox">
                <img src="avatar.png" class="avatar">
				<h1>Login Here</h1>
                <form >  	
					<p>Username</p>
					<input type="text" name="uname" id='uname' placeholder="Enter Username or Email" onkeyup="username(this.value)">
					<p>Password</p>
					<input type="password" name="password" id='password' placeholder="Enter Password" onkeyup="pasword(this.value)">
					<input type="submit" value="Login" onclick="return submitlogin()">
					Not a member yet ?
                   <a routerLink="/register" class="to_register">Join us</a>
                </form>
            </div>	
		</div>	
		</div>
  